.container{
	padding: 62px;
}
body{
	background-color: #FFEECA;
	color: #483849;
	font-weight: bold;
}

.carousel-item h5{
    font-size: 40pt;
}
.carousel-item p{
    font-size: 20pt;
    color: white;
}

img#carrousel-imagem{
	height: 720px;
}
 .main-title{
      color: #444;
      margin: 0 0 65px 0;
      font-size: 40px;
      text-align: center;
  }
  
  